html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'PT Serif', serif;
  font-size: 62.5%;
  background-color: #F9F9F9;
}
body {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 800px;
  box-sizing: border-box;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.page-container {
  max-width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
@media (max-width:500px) {
  .page-container {
    transform: translate(-50%, -50%);
  }
}
.nav-bar {
  background-color: #789956;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
@media (max-width:500px) {
  .nav-bar {
    padding-top: 10px;
  }
}
.nav-bar h1 {
  font-size: 2.8rem;
  padding-left: 15px;
}
.nav-bar h1:hover {
  color: #2b371f;
  font-weight: 600;
  transform: scale(1.1);
}
.nav-bar .nav-links {
  display: flex;
  width: 45%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 10px;
}
.nav-bar .nav-links a {
  color: white;
}
.nav-bar .nav-links .active {
  color: #2b371f;
  font-weight: 600;
  font-size: 2.2rem;
}
@media (max-width:500px) {
  .nav-bar .nav-links {
    width: 45%;
    justify-content: flex-end;
  }
}
.nav-bar .nav-links .menu-icon-container {
  display: none;
}
@media (max-width:500px) {
  .nav-bar .nav-links .menu-icon-container {
    display: flex;
    width: 40%;
    height: auto;
  }
  .nav-bar .nav-links .menu-icon-container img {
    width: 100%;
    height: auto;
  }
}
@media (max-width:800px) {
  .nav-bar .nav-links {
    justify-content: space-around;
  }
}
.nav-bar .nav-links button {
  width: 20%;
  height: 45%;
  background-color: #789956;
  color: white;
  border-radius: 7px;
  border: 1.2px solid white;
  font-size: 1.4rem;
}
.nav-bar .nav-links button:hover {
  color: #789956;
  background-color: white;
  border-color: #789956;
  cursor: pointer;
}
@media (max-width:500px) {
  .nav-bar .nav-links button {
    display: none;
  }
}
.header-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background-color: #789956;
  color: white;
  background-image: linear-gradient(to bottom, rgba(120, 153, 86, 0.9999), rgba(11, 0, 71, 0.75)), url(../images/children-class-classroom-1720186.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:800px) {
  .header-container {
    justify-content: space-around;
  }
}
@media (max-width:500px) {
  .header-container {
    flex-direction: column;
    height: 700px;
    justify-content: space-evenly;
    align-content: flex-start;
  }
}
.header-container .header-content {
  width: 90%;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 2;
}
@media (max-width:800px) {
  .header-container .header-content {
    width: 85%;
  }
}
@media (max-width:500px) {
  .header-container .header-content {
    height: 300px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.header-container .header-content h2 {
  font-size: 2.6rem;
  text-decoration-line: underline;
}
@media (max-width:500px) {
  .header-container .header-content h2 {
    font-size: 2.6rem;
  }
}
.header-container .header-content p {
  font-size: 2.2rem;
  line-height: 2;
  text-align: start;
  text-shadow: 1.2px 1.2px rgba(53, 53, 53, 0.5);
}
@media (max-width:500px) {
  .header-container .header-content p {
    padding: 25px;
  }
}
.header-container .header-content button {
  width: 25%;
  height: 15%;
  background-color: #789956;
  color: white;
  border-radius: 7px;
  border: 1.2px solid white;
  font-size: 1.8rem;
  transform: translateX(150%);
  margin-top: 20px;
  padding: 10px;
}
.header-container .header-content button:hover {
  color: #789956;
  background-color: white;
  border-color: #789956;
  cursor: pointer;
}
@media (max-width:800px) {
  .header-container .header-content button {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    transform: translateX(0%);
  }
}
@media (max-width:500px) {
  .header-container .header-content button {
    transform: translateX(0%);
    margin-bottom: 10px;
    height: 43.2px;
    width: 210.24px;
  }
}
.features {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  .features {
    height: 900px;
    justify-content: space-around;
    margin: 0 auto;
  }
}
.features .features-heading {
  width: 60%;
  height: 100px;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
@media (max-width:500px) {
  .features .features-heading {
    width: 95%;
    height: 220px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.features .features-heading h2 {
  font-size: 2.4rem;
}
.features .features-heading p {
  font-size: 1.4rem;
  margin-top: 30px;
}
.features .box-features {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0%, -15%);
}
@media (max-width:800px) {
  .features .box-features {
    justify-content: space-around;
  }
}
@media (max-width:500px) {
  .features .box-features {
    width: 95%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    margin: 0 auto;
    transform: translate(0%, 0%);
  }
}
.features .box-features h3 {
  font-size: 2rem;
}
.features .box-features p {
  font-size: 1.4rem;
}
.features .box-features .box-features-child {
  width: 33%;
  height: 180px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:800px) {
  .features .box-features .box-features-child {
    width: 25%;
  }
}
@media (max-width:500px) {
  .features .box-features .box-features-child {
    width: 100%;
    height: 300px;
    align-content: flex-start;
    justify-content: space-around;
  }
}
.features .box-features .box-features-child img {
  width: 18%;
  height: auto;
}
.carousel {
  transform: translateY(-3%);
  position: relative;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (max-width:500px) {
  .carousel {
    display: none;
  }
}
.carousel .is-hidden {
  display: none;
}
.carousel .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel .carousel-button img {
  width: 24px;
}
.carousel .carousel-button-left {
  left: -35px;
}
.carousel .carousel-button-right {
  right: -35px;
}
.carousel .carousel_track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.carousel .carousel_track-container .carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel .carousel_track-container .carousel_track .carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel .carousel_track-container .carousel_track .carousel_slide .carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.carousel .carousel-nav .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0 0.25);
  margin: 0 12px;
  cursor: pointer;
}
.carousel .carousel-nav .current-slide {
  background-color: #789956;
}
.about {
  width: 100%;
  height: 400px;
  background-color: #789956;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: space-evenly;
  color: white;
  background-image: linear-gradient(to bottom, rgba(120, 153, 86, 0.999), rgba(11, 0, 71, 0.7)), url(../images/art-art-materials-artistic-256430.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:800px) {
  .about {
    justify-content: space-around;
  }
}
@media (max-width:500px) {
  .about {
    width: 100%;
    height: 420px;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
  }
}
.about .about-content {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media (max-width:800px) {
  .about .about-content {
    width: 85%;
  }
}
@media (max-width:500px) {
  .about .about-content {
    width: 85%;
    margin: 0 auto;
    padding-right: 0;
  }
}
.about .about-content p {
  font-size: 2.6rem;
  line-height: 1.8;
  text-align: center;
  text-shadow: 1.5px 1.5px rgba(53, 53, 53, 0.65);
}
@media (max-width:500px) {
  .about .about-content p {
    font-size: 2.2rem;
    text-align: start;
  }
}
.about .about-content button {
  width: 45%;
  height: 10%;
  background-color: #789956;
  border-radius: 7px;
  border: 1.2px solid white;
  font-size: 1.8rem;
  color: white;
  margin: 0 auto;
}
.about .about-content button:hover {
  color: #789956;
  background-color: white;
  border-color: #789956;
  cursor: pointer;
}
@media (max-width:800px) {
  .about .about-content button {
    width: 60%;
  }
}
@media (max-width:500px) {
  .about .about-content button {
    width: 150px;
    margin: 0 auto;
  }
}
.team-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0px;
}
@media (max-width:500px) {
  .team-container {
    height: 1200px;
    justify-content: space-evenly;
    padding: 0px;
  }
}
.team-container .team-header {
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  transform: translate(33%, 0%);
}
@media (max-width:500px) {
  .team-container .team-header {
    width: 95%;
    height: 125px;
    transform: translate(0%, 0%);
  }
}
.team-container .team-header h2 {
  font-size: 2.4rem;
}
.team-container .team-header p {
  font-size: 1.6rem;
  transform: translate(0%, -50%);
}
.team-container .team-header p a {
  text-decoration: none;
  color: #789956;
}
@media (max-width:500px) {
  .team-container .team-header p {
    text-align: start;
    margin: 0 auto;
  }
}
.team-container .team-content {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}
@media (max-width:800px) {
  .team-container .team-content {
    justify-content: space-evenly;
  }
}
@media (max-width:500px) {
  .team-container .team-content {
    height: 1000px;
  }
}
.team-container .team-content ul {
  height: 550px;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media (max-width:500px) {
  .team-container .team-content ul {
    height: 1000px;
    margin: 0 auto;
    align-content: space-around;
  }
}
.team-container .team-content ul li {
  width: 17%;
  padding: 20px;
}
@media (max-width:500px) {
  .team-container .team-content ul li {
    width: 30%;
  }
}
.team-container .team-content ul li img {
  border-radius: 7px;
  object-fit: fill;
  box-shadow: 3px 3px 4px #b3b3b3;
}
.subscribe-container {
  width: 100%;
  height: 80px;
  background-color: #789956;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.subscribe-container h2 {
  padding-left: 10px;
}
@media (max-width:500px) {
  .subscribe-container h2 {
    font-size: 1.4rem;
  }
}
@media (max-width:800px) {
  .subscribe-container {
    justify-content: space-evenly;
  }
}
@media (max-width:500px) {
  .subscribe-container {
    height: 50px;
    justify-content: space-between;
  }
}
.subscribe-container form {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width:500px) {
  .subscribe-container form {
    width: 60%;
  }
}
.subscribe-container form input {
  background-color: #789956;
  width: 250px;
  height: 28px;
  border: 1.2px solid white;
  border-radius: 10px;
  color: gray;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
@media (max-width:500px) {
  .subscribe-container form input {
    width: 225px;
    height: 20px;
    padding-left: 0;
    margin-left: 0;
  }
}
.subscribe-container form input::placeholder {
  color: white;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
.subscribe-container form button {
  width: 100px;
  height: 28px;
  background-color: white;
  border-radius: 7px;
  border: 1.2px solid lightgray;
  font-size: 1.4rem;
  color: #789956;
  margin: 0 10px;
}
.subscribe-container form button:hover {
  color: white;
  background-color: #789956;
  border-color: white;
  cursor: pointer;
}
@media (max-width:500px) {
  .subscribe-container form button {
    width: 78px;
    height: 22px;
  }
}
.contact-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
@media (max-width:800px) {
  .contact-container {
    height: 575px;
  }
}
@media (max-width:500px) {
  .contact-container {
    width: 100%;
    height: 750px;
  }
}
@media (max-width:500px) {
  .contact-container p {
    text-align: start;
    padding: 0 10px;
  }
}
.contact-container .contact-form {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:800px) {
  .contact-container .contact-form {
    height: 400px;
  }
}
@media (max-width:500px) {
  .contact-container .contact-form {
    width: 90%;
    height: 500px;
  }
}
.contact-container .contact-form .name-email,
.contact-container .contact-form .school-info {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-around;
}
@media (max-width:500px) {
  .contact-container .contact-form .name-email,
  .contact-container .contact-form .school-info {
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 0 5px;
  }
}
.contact-container .contact-form .name-email input,
.contact-container .contact-form .school-info input {
  width: 350px;
  height: 40px;
  border: 1.2px solid black;
  border-radius: 10px;
  color: gray;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
  font-size: 1.8rem;
  box-shadow: 1px 1px 5px gray;
}
@media (max-width:500px) {
  .contact-container .contact-form .name-email input,
  .contact-container .contact-form .school-info input {
    width: 95%;
    margin: 15px 0;
    border: 1px solid black;
    font-size: 1.4rem;
    height: 70px;
  }
}
.contact-container .contact-form .name-email input::placeholder,
.contact-container .contact-form .school-info input::placeholder {
  color: black;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
.contact-container .contact-form .message-input {
  width: 95%;
  height: 200px;
  transform: translate(2%, 0%);
}
.contact-container .contact-form .message-input textarea {
  width: 100%;
  height: 200px;
  border: 1.2px solid black;
  border-radius: 10px;
  color: #789956;
  font-family: 'PT Serif', serif;
  font-size: 1.8rem;
  box-shadow: 1px 1px 5px gray;
}
@media (max-width:800px) {
  .contact-container .contact-form .message-input textarea {
    height: 150px;
  }
}
@media (max-width:500px) {
  .contact-container .contact-form .message-input textarea {
    border: 1px solid black;
  }
}
.contact-container .contact-form .message-input textarea::placeholder {
  padding-left: 5px;
  color: black;
}
@media (max-width:800px) {
  .contact-container .contact-form .btn-div {
    transform: translate(0%, -200%);
  }
}
@media (max-width:500px) {
  .contact-container .contact-form .btn-div {
    transform: translate(0%, -30%);
  }
}
.contact-container .contact-form .btn-div button {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  border: 1.2px solid black;
  font-size: 1.4rem;
  color: black;
  box-shadow: 1px 1px 5px gray;
}
@media (max-width:500px) {
  .contact-container .contact-form .btn-div button {
    border: 1px solid black;
  }
}
.about-content .head-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  justify-content: space-around;
  align-items: center;
}
.about-content .head-content h1 {
  font-size: 3rem;
  text-decoration-line: underline;
}
.about-content .accordion {
  margin-top: -40px;
}
.about-content .accordion .panel {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 50px 18px;
  box-shadow: 1px 1px 5px gray;
}
.about-content .accordion .panel .panel-bar {
  display: flex;
  justify-content: space-between;
}
.about-content .accordion .panel .panel-bar .panel-buttons button {
  cursor: pointer;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid gray;
  font-size: 1.4rem;
  color: black;
  font-family: 'PT Serif', serif;
}
.about-content .accordion .panel .panel-bar .panel-buttons .hide-btn {
  display: none;
}
.about-content .accordion .panel .panel-content {
  display: none;
  padding-top: 25px;
}
.about-content .accordion .panel .panel-content img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin-top: 25px;
}
.about-content .accordion .panel .toggle-on {
  display: block;
}
