html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'PT Serif', serif;
  font-size: 62.5%;
}
body {
  max-width: 800px;
  display: block;
  width: 100%;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.page-container {
  max-width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.nav-bar {
  background-color: #44E2A3;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-bar h1 {
  font-size: 2.8rem;
}
.nav-bar .nav-links {
  display: flex;
  width: 65%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.nav-bar .nav-links button {
  width: 20%;
  height: 45%;
  background-color: #44E2A3;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-size: 1.4rem;
}
.header-container {
  width: 100%;
  height: 475px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background-color: #44E2A3;
  color: white;
  padding-top: 30px;
}
.header-container .header-content {
  width: 50%;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.header-container .header-content button {
  width: 25%;
  height: 8%;
  background-color: #44E2A3;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-size: 1.4rem;
}
.header-container .header-img {
  width: 45%;
  height: auto;
}
.header-container .header-img img {
  border-radius: 7px;
}
.features {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features .features-heading {
  width: 60%;
  height: 100px;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
.features .features-heading h2 {
  font-size: 2.4rem;
}
.features .features-heading p {
  font-size: 1.4rem;
}
.features .box-features {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0%, -20%);
}
.features .box-features h3 {
  font-size: 2rem;
}
.features .box-features p {
  font-size: 1.2rem;
}
.features .box-features .box-features-child {
  width: 30%;
  height: 180px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about {
  width: 100%;
  height: 600px;
  background-color: #44E2A3;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 30px 0px;
  color: white;
}
.about .about-content {
  width: 45%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about-content h2 {
  font-size: 2.4rem;
}
.about .about-content p {
  font-size: 1.4rem;
}
.about .about-content button {
  width: 45%;
  height: 6%;
  background-color: #44E2A3;
  border-radius: 7px;
  border: 2px solid white;
  font-size: 1.4rem;
  color: white;
}
.about .about-img {
  width: 45%;
  height: auto;
  padding-top: 28px;
}
.about .about-img img {
  border-radius: 7px;
}
.team-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0px;
}
.team-container .team-header {
  width: 60%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  transform: translate(33%, 0%);
}
.team-container .team-header h2 {
  font-size: 2.4rem;
}
.team-container .team-header p {
  font-size: 1.4rem;
}
.team-container .team-content {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}
.team-container .team-content ul {
  height: 350px;
  width: 100%;
}
.team-container .team-content ul li {
  width: 15%;
  display: inline-block;
  padding: 20px;
  transform: translate(50%, 0%);
}
.team-container .team-content ul li img {
  border-radius: 50%;
}
.subscribe-container {
  width: 100%;
  height: 80px;
  background-color: #44E2A3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.subscribe-container form {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subscribe-container form input {
  background-color: #44E2A3;
  width: 250px;
  height: 28px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
.subscribe-container form input::placeholder {
  color: white;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
.subscribe-container form button {
  width: 100px;
  height: 28px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid white;
  font-size: 1.4rem;
  color: #44E2A3;
}
.contact-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.contact-container .contact-form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-container .contact-form .name-email,
.contact-container .contact-form .school-info {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-around;
}
.contact-container .contact-form .name-email input,
.contact-container .contact-form .school-info input {
  width: 350px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  color: #44E2A3;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
  font-size: 1.8rem;
}
.contact-container .contact-form .name-email input::placeholder,
.contact-container .contact-form .school-info input::placeholder {
  color: black;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
}
.contact-container .contact-form .message-input {
  width: 100%;
  height: 200px;
}
.contact-container .contact-form .message-input input {
  width: 95%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  color: #44E2A3;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
  font-size: 1.8rem;
}
.contact-container .contact-form .message-input input::placeholder {
  color: black;
  font-family: 'PT Serif', serif;
  padding-left: 5px;
  transform: translate(0%, -350%);
}
.contact-container .contact-form .btn-div button {
  width: 150px;
  height: 28px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 1.4rem;
  color: black;
}
