.features{
    width:100%;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .features-heading{
        width:60%;
        height:100px;
        justify-content: center;
        text-align: center;
        h2{
            font-size:2.4rem;
        }
        p{
            font-size: 1.4rem;
        }
        padding-top:20px;
    }
    .box-features{
        width: 100%;
        height:200px;
        display: flex;
        justify-content: space-between;
        align-items: center;        
        transform: translate(0%, -20%);
        @media @tablet{
            justify-content: space-around;
            }
        h3{
            font-size:2.0rem;
        }
        p{
            font-size: 1.2rem;
        }
        .box-features-child{
            width:30%;
            height: 180px;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media @tablet{
                width:25%;
                }
            img{
                width: 18%;
                height:auto;
            }
        }
    }
}
.about{
    width:100%;
    height:600px;
    background-color: @primary-color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
    padding:30px 0px;
    color:white;
    @media @tablet{
        justify-content: space-around;
        }
    .about-content{
        width:45%;
        height:600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media @tablet{
            width:40%;
            }
        h2{
            font-size: 2.4rem;
        }
        p{
            font-size: 1.4rem;
        }
        button{
            width:45%;
            height:6%;
            background-color:@primary-color;
            border-radius: 7px;
            border: 2px solid white;
            font-size: 1.4rem;
            color:white;
            @media @tablet{
                width:60%;
                }
        }
    }
    .about-img{
        width: 45%;
        height: auto;
        padding-top:28px;
        @media @tablet{
            width:40%;
            margin-top: 35px;
            }
        img{
            border-radius:7px;
        }
}
}
.team-container{
    width: 100%;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding:20px 0px;
    .team-header{
        width:60%;
        height:125px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        transform: translate(33%,-0%);
        h2{
            font-size:2.4rem;
        }
        p{
            font-size:1.4rem;
        }
    }
    .team-content{
        width:100%;
        height:350px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        @media @tablet{
            justify-content: space-evenly;
            }
        ul{
            height:400px;
            width:100%;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-evenly;
            li{
                width:17%;
                padding:20px;
                border-radius: 50%;
                }
            }
        }
    }
.subscribe-container{
    width:100%;
    height: 80px;
    background-color: @primary-color;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color:white;
    @media @tablet{
        justify-content: space-evenly;
        }
    form{
        width:70%;
        height:auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        input{
            background-color: @primary-color;
            width:250px;
            height: 28px;
            border: 2px solid white;
            border-radius:10px;
            color:white;
            font-family: @font-style;
            padding-left: 5px;
            &::placeholder{
                color:white;
                font-family: @font-style;
                padding-left: 5px;
            }
        }
        button{
            width:100px;
            height:28px;
            background-color:white;
            border-radius: 7px;
            border: 2px solid white;
            font-size: 1.4rem;
            color:@primary-color;
            }
    }
}
.contact-container{
    width:100%;
    height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    @media @tablet{
        height:575px;
        }
    .contact-form{
        width:100%;
        height:400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media @tablet{
            height:400px;
            }
        .name-email, .school-info{
            width:100%;
            height:22px;
            display: flex;
            justify-content: space-around;
            input{
                width:350px;
                height: 40px;
                border: 2px solid black;
                border-radius:10px;
                color:@primary-color;
                font-family: @font-style;
                padding-left: 5px;
                font-size: 1.8rem;
                &::placeholder{
                    color:black;
                    font-family: @font-style;
                    padding-left: 5px;
                }
            }
        }
        .message-input{
            width:95%;
            height:200px;
            transform: translate(2%, 0%);
            textarea{
                width:100%;
                border: 2px solid black;
                border-radius:10px;
                color:@primary-color;
                font-family: @font-style;
                font-size: 1.8rem;
            @media @tablet{
                height:150px;

                }
            &::placeholder{
                padding-left:5px;
                color: black
            }
        }
        
        }
        .btn-div{
            @media @tablet{
                transform: translate(0%, -200%)
                }
            button{
            width:150px;
            height:30px;
            background-color:white;
            border-radius: 7px;
            border: 2px solid black;
            font-size: 1.4rem;
            color:black;
            }
        }
    }
}